body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.block{
    border:2px solid;
    height: 100px;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}
.board{
    padding: 2rem;
}
.row{
    display: flex;
}